# Auto detect text files and perform LF normalization
* text=auto

# Force specific files to use LF
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
*.swf binary
*.svgz binary
*.zip binary
*.gz binary
*.bz2 binary
*.exe binary
*.dll binary
*.obj binary
*.lib binary
*.class binary
*.so binary
*.dylib binary
*.dmg binary
*.iso binary
*.img binary
*.db binary
*.sqlite binary
*.sqlite3 binary 